/* ---------- từ mobile trở xuống --------------- */ 
@media (max-width: 46.1875em) {
    .main {
        margin-top: 112px;
    }
    .header__img {
        padding: 8px 16px 8px 24px;
        height: 44px;
    }
    .nav-mobile {
        display: block;
        padding-left: 12px;
        position: absolute;
        background-color: #fff;
        top: 0;
        left: 0;
        width: 50%;
        height: 87vh;
        animation: fadeRight ease-in-out 0.3s;
    }
    
    .nav-bar-icon {
        display: inline-block;
        padding: 8px 16px 8px 24px;
        font-size: 20px;
        cursor: pointer;   
    }
    .nav-list {
        display: none;
    }
    .nav-item {
        border-bottom: 1px dotted #ddd;
    }
    .slideshow {
        height: 83vh;
    }
    .nav-block {
        display: block;
        width: 100%;
        position: relative;
    }
    div.nav-item {
        font-size: 20px;
    }
    .ratiobox {
        margin: -2px;
    }
    .block-ratiobox {
        padding: unset;
    }
    .product-name {
        font-size: 10px;
    }
    .product-prices {
        font-size: 12px;
        margin: 0 2px 0;
    }
    .product {
        margin: 120px 24px 16px;
    }
    .product-item {
        margin-bottom: 8px;
        box-shadow: unset;
    }
    .product-percent-price {
        font-size: 8px;
    }
    .product-cancel-price {
        font-size: 7px;
        padding: 5px 5px 5px 0px;
    }
    .pagination-item__link {
        padding: 4px 12px;
        margin: 4px;
        font-size: 1.6rem;
    }
    .btn-buy {
        font-size: 12px;
        width: 60%;
        padding: 4px 8px;
    }
    .apologize-mess {
        padding: 12px 0 24px;
    }
    .other-products {
        margin: unset;
    }
    iframe {
        width: 100% !important;
    }
    .order__main {
        padding-top: 40px;
    }
    .order-container {
        margin: unset;
        border-radius: unset;
        height: 100vh;
    }
    /* detail */
    .product-detail-back {
        margin: 0 0 0 24px;
    }
}
/* từ moblie trở lên */
@media (min-width: 46.25em) {

}
/* --------------- từ tablet tới pc ------------------- */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .main {
        margin-top: 120px;
    }
    .block-ratiobox {
        margin-top: 10px;
    }
    .ratiobox-img {
        width: 95%;
    }
    .block-ratiobox {
        padding: unset;
    }
    .nav-item:nth-child(5),
    .nav-item:nth-child(6),
    .nav-item:nth-child(7) {
        display: none;
    }
    .nav-block {
        width: 90%;
        margin: 0 50px 0 38px;
    }
    .nav-list:nth-child(1) {
        padding: 0 0 0 50px;
    }
    
    .slogan-ipad {
        display: block;
        font-size: 52px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-fill-color: hsl(0deg 0% 100%);
        margin: unset;
    }
    .header {
        background-color: #fff;
        height: unset;
        flex-direction: column;
        align-items: flex-start;
    }
    .header__img {
        margin-top: 12px;
    }
    .product {
        margin: 140px 50px 34px;
    }
    .product-item {
        margin-bottom: 16px;
    }
    .product-cancel-price {
        padding: 5px 3px 3px 5px;
    }
    .product-cancel-price::before {
        height: 2.25em;
    }
    .product-prices {
        margin: 0 4px 0;
        font-size: 14px;
    }
    .btn-buy {
        font-size: 13px;
    }
    .apologize-mess {
        padding: 12px 0 28px;
    }
    .slideshow {
        height: 83vh;
    }
    /* detail */
    .main-detail {
        top: -8px;
    }
    .carousel-detail {
        width: 90%;
    }
}
/* từ tablet trở xuống */
@media (max-width: 63.9375em) {
    #preloader {
        margin-top: 50%;
    }
    .slogan-ipad {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        font-size: 26px;
        line-height: 30px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-fill-color: hsl(0deg 0% 0%);
        margin: unset;
        background-color: #333;
        color: #fff;
    }
    .header {
        background-color: #fff;
        margin-top: 30px;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    .btn-buy {
        position: relative;
        float: left;
        margin-bottom: 16px;
    }
    /* detail */
    .product-detail-info {
        padding-top: 24px;
    }
}
/* ----------------- từ pc trở lên ----------------------- */
@media (min-width: 64em) {
    .nav-item__cart {
        margin-right: 50px;
    }
    .product-item:hover .product-main-price {
        opacity: 0;
    }
    .product-item:hover .btn-buy {
        top: calc(100% - 48px);
    }
}