* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
a {
    color: var(--color-text);
}
img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
html {
    font-size: 62.5%;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'oswald', arial, sans-serif;
}
@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    } 100% {
        opacity: 1;
        transform: translateX(0);
    } 
}
@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}
:root {
    --header-height: 64px;
    --color-text: #272727;
    --color-price: #000;
    --size-default: 16px;
    --notify-space: 120px;
}
.circle::before {
    content: "";
    z-index: 4;
    display: none;
    background: url(../../asset/img/circle.webp) left / cover no-repeat;
    background-size: 3.5em 2.5em;
    width: 4.125em;
    height: 3.25em;
    position: absolute;
    left: 0;
    top: 0;
}
.circle:hover::before {
    display: block;
}
.overlay-mobile {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 112px;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}
/* search */
/* .nav-list .search,
.search-mobile {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    background-color: #fff;
    width: 32px;
    height: 32px;
    overflow: hidden;
    position: relative;
    color: var(--color-text);
    cursor: pointer;
}
.search-mobile {
    float: right;
}
.search.active,
.search-mobile.active {
    transition: all ease 0.2s;
    width: 260px;
}
.search.active .search-type,
.search.active .search-delete,
.search-mobile.active .search-type,
.search-mobile.active .search-delete {
    display: block;
}
.search-icon {
    padding: 8px;
}
.search-type {
    display: none;
    margin: 0 12px 0 0;
    padding: 8px 4px;
    border: none;
    outline: none;
}
.search-delete {
    display: none;
    padding: 8px;
} */
/* preloader */
#preloader {
    background: url(/asset/img/preloader.gif) center / contain no-repeat;
    padding-top: 30%;
    background-size: 20%;
    margin-top: 20%;
    transform: translateY(-35%);
}
#root {
    display: none;
}
/* header */
.header {
    display: flex;
    z-index: 9;
    height: var(--header-height);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.3s;
}
.header.sticky {
    background-color: #fff;
}
.header__img {
    padding: 0 16px 0 50px;
    height: 40px;
}
.nav-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
.nav-bar-icon {
    display: none;
}
.nav-list {
    color: var(--color-text);
    font-size: 10px;
    display: flex;
    align-items: center;
}
.nav-list:nth-child(2) {
    padding: 0 50px 0 16px;
}
.nav-item {
    margin: 0 12px 0;
    padding: 16px 0 16px;
    position: relative;
    color: var(--color-text);
    display: block;
}
.nav-mobile {
    display: none;
}
.nav-item__register,
.nav-item__login {
    color: var(--color-text);
    display: inline-block;
    padding: 4px;
}
.apologize-mess {
    font-size: 20px;
    display: block;
    padding-bottom: 32px;
    text-align: center;
}
.slideshow {
    background: url(../../asset/img/slideshow_1.webp) top center / cover no-repeat;
    padding-top: 50%;
    display: block;
    cursor: pointer;
}
.ratiobox {
    display: block;
    text-align: center;
    cursor: pointer;
}
.ratiobox-img {
    width: 100%;
}

.slogan-ipad,
.slogan {
    /* display: block;
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);
    border: 1px solid #ccc;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5) inset; */
    font-size: 75px;
    margin: 64px 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: hsl(0deg 0% 100%);
}
.slogan-ipad {
    display: none;
}

/* product */

.product {
    margin: 91px 50px 26px;
}
.search-option {
    margin-bottom: 11px;
    font-size: var(--size-default);
    line-height: var(--size-default);
    text-align: right;
    margin-bottom: 32px;
}
.search-option__icon {
    display: inline-block;
    margin-left: 11px;
}
.product-item {
    margin-bottom: 24px;
    font-size: 13px;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.product-item:hover .product-img {
    opacity: 0;
}
.product-item:hover .product-img-hover {
    opacity: 1;
}
.product-item:hover .product-main-price {
    opacity: 0;
}
.product-item:hover .btn-buy {
    top: calc(100% - 48px);
}
.product-img {
    width: 100%;
    position: relative;
    transition: all linear 0.5s;
    border-radius: 4px;
}
.product-img-hover {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all linear 0.5s;
    border-radius: 4px;
    cursor: pointer;
}
.product-name {
    color: var(--color-text);
    padding-top: 12px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    max-height: 28px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.product-main-price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: var(--color-price);
    font-size: 12px;
    padding-bottom: 20px;
}
.btn-buy {
    width: 70%;
    font-size: 14px;
    color: #fff;
    background-color: #191919;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    transition: ease-in-out 0.4s;
    cursor: pointer;
}
.product-percent-price {
    color: #fff;
    background-color: #000;
    padding: 4px 8px;
}
.product-prices {
    margin: 0 8px 0;
    font-size: var(--size-default);
}
.product-cancel-price {
    position: relative;
    padding: 5px;
    color: #939393;
}
.product-cancel-price::before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    z-index: 5;
    background: url(../../asset/img/sale.webp) top left / cover no-repeat;
    background-size: 3.5em 2.5em;
    width: 4.125em;
    height: 3.25em;
}
.other-products-title {
    font-size: 20px;
    text-align: left;
    margin-bottom: 16px;
    background-color: #191919;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
/* pagination */
.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 36px 0 16px 0;
}
.pagination-item {

}
.pagination-item__link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    padding: 8px 16px;
    margin: 12px;
    font-size: 1.8rem;
    display: block;
}
.pagination-item__link.active {
    background-color: #EE4D2D;
    color: #fff;
}
/* footer */
.footer {
    margin: 0 50px 50px;
}
.footer-block {
    font-size: var(--size-default);
    color: var(--color-text);
    margin-top: 32px; 
}
.footer-title {
    font-weight: bold;
    font-size: 15px;
}
.footer-content {
    margin-top: 24px;
    font-family: "quicksand";
    margin-top: 16px;
}
.footer-content p {
    font-size: 12px;
    line-height: 2;
}
.footer-content__social {
    
}
.social__icon {
    font-size: 24px;
    color: #5d5d60;
}
.footer-content__bct {
    width: 150px;
    margin-top: 16px;
}
/* notify */
.overlay {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.not-updated-yet {
    max-width: 740px;
    margin: 5vh auto 0;
    /* border-radius: 16px; */
    background-color: #fff;
    text-align: center;
    position: relative;
    animation: fadeDown ease-in-out 0.5s;
    height: 90vh;
    overflow-y: scroll;
}
.not-updated-yet__header {
    font-size: 40px;
    padding: 32px;
    background-color: #80dada;
    color: #5d5d60;
}
.not-updated-yet__icon {
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px 10px;
    /* transition: 0.5s; */
    font-size: 32px;
    cursor: pointer;
}
/* .not-updated-yet__icon:hover {
    color: #80dada;
    background-color: #8e8ea4;
} */
.not-updated-yet__main {
    padding-top: 32px;
}
.not-updated-yet__img {

}
.not-updated-yet__mess {
    /* margin-top: 16px;
    font-size: 20px; */
}